header[role='banner'] {
	& h1:only-child[role='heading'],
	&
		a[role='link'][aria-label]:is(
			[href*='grok'],
			[href*='jobs'],
			[href*='premium'],
			[href*='verified-orgs']
		) {
		display: none !important;
	}

	& > div > div > div {
		justify-content: center !important;
	}
}

[data-testid='cellInnerDiv'] {
	&:has([data-testid='inlinePrompt-primaryAction'] > a[href*='premium']) {
		display: none !important;
	}
}

[data-testid='sidebarColumn'] {
	& :not(:first-child):has(> * > aside[role='complementary']),
	&
		:has(
			> :is(
					aside[role='complementary'],
					section[aria-labelledby^='accessible-list-'],
					nav[role='navigation']
				)
		) {
		display: none !important;
	}
}
